/* book a celeb section */
.book__a__celeb{
    background-color: white;
    margin-top: 80px;

}
.book__a__celeb__content{
    padding: 20px;
    border: 3px solid var(--BrightRed);
    text-align: center;
}
form{
    margin-top: 30px;
}
form{
    font-size: 15px;
}
form label{
    padding: 0;
    margin: 0;
}
form input{
    font-size: 15px;
    padding: 10px;
}


/* desired celebrity */
.desired__celebrity{
    display: flex;
    justify-content: space-between;

}
.desired__celebrity p{
    font-size: 18px;
    font-weight: 500;
}
.desired__celebrity__div{
    display: flex;
    flex-direction: column;
    text-align: start;

}
.desired__celebrity__div input{
    width: 500px;
    height: 28px;
    background-color: rgb(233, 231, 231);
    border: 1px solid black;
}


/* type of event/ amout */
.event__amout{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}
.event__amout p{
    font-size: 18px;
    font-weight: 500;
}
.event__amout__div{
    display: flex;
    gap: 50px;
}
.event__div, .amout__div{
    display: flex;
    flex-direction: column;
    text-align: start;

}
.event__div select, .amout__div select{
    width: 225px;
    height: 28px;
    background-color: rgb(233, 231, 231);
    border: 1px solid black;
    font-size: 15px;
}

/* event date/ location */
.event__date__location{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.event__date__location p{
    font-size: 18px;
    font-weight: 500;
}
.event__date__location__div{
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.event__date{
    display: flex;
    flex-direction: column;
    text-align: start;
}
.event__date input{
    width:225px ;
    height: 28px;
    background-color: rgb(233, 231, 231);
    border: 1px solid black;
    font-size: 15px;
}


.event__location{
    display: flex;
    flex-direction: column;
}
.event__location textarea{
    width:225px ;
    height: 80px;
    background-color: rgb(233, 231, 231);
    border: 1px solid black;
    font-size: 15px;
    padding: 5px 10px ;
}

/* line */
.line{
    height: 3px ;
    background-color: black;
    margin: 30px 0;
}
