.membership__card__section{
    margin-top: 80px;
    background-color: white;
    width: 100%;
}
.membership__card__content{
    width: 100%;
    border: 5px solid var(--BrightRed);
    padding: 20px 30px;
    
}

.membership__card__content h1, .membership__card__content p{
    text-align: center;
}

/* FORM */
form{
    margin-top: 30px;
}
form{
    font-size: 15px;
}
form label{
    padding: 0;
    margin: 0;
}
form input{
    font-size: 15px;
    padding: 10px;
}

/* FULL NAME */
.full__name{
    display: flex;
    justify-content: space-between;
}
.full__name p{
    font-size: 18px;
    font-weight: 500;
}
.full__name__div{
    display: flex;
    gap: 10px;
}
.first__name input, .Last__name input {
    width: 240px;
    height: 28px;
    background-color: rgb(233, 231, 231);
    border: 1px solid black;
}

/* HOME ADDRESS  */
.address{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.address p{
    font-size: 18px;
    font-weight: 500;
}
.city__street{
    display: flex;
}
.street__address input, .country input{
    width: 490px;
    height: 28px;
    background-color: rgb(233, 231, 231);
    border: 1px solid black;
}
.city__street{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.city__street input{
    width: 240px;
    height: 28px;
    background-color: rgb(233, 231, 231);
    border: 1px solid black;
}
.country{
    margin-top: 20px;
}

/* EMAIL ADDRESS */
.email__address{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.email__address p{
    font-size: 18px;
    font-weight: 500;
}
.email__address__div input{
    width: 490px;
    height: 28px;
    background-color: rgb(233, 231, 231);
    border: 1px solid black;
}


/* PHONE NUMBER */
.phone__number{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.phone__number p{
    font-size: 18px;
    font-weight: 500;
}
.phone__number__div input{
    width: 490px;
    height: 28px;
    background-color: rgb(233, 231, 231);
    border: 1px solid black;
}

/* GENDER */
.gender{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.gender p{
    font-size: 18px;
    font-weight: 500;
}
.gender__div{
    display: flex;
    gap: 20px;
    width: 490px;
    
}

/* CARD TYPE */
.card__type{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card__type p{
    font-size: 18px;
    font-weight: 500;

}
.type__card__div{
    width: 490px;
    display: flex;
    flex-direction: column;
    

}
.type__card__div select{
    width: 150px;
    height: 28px;
    background-color: rgb(233, 231, 231);
    font-size: 15px;

}
.type__card__div option{
    font-size: 15px;
}
/* SUBMIT */
.submitcta{
    background-color: var(--BrightRed);
    padding: 10px 50px;
    color: var(--white);
    display: inline-block;
    font-weight: 600;
    border: 0;
    font-size: 15px;
}
.submitcta:hover{
    background-color: var(--purple);
    border: 3px solid var(--BrightRed);
    color: var(--black);
}

.submitbtn{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

/* FILE */
.file{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.file p{
    font-size: 18px;
    font-weight: 500;
}
.file__div{
    width: 490px;
}
.file__div input{
    padding: 0;
}

/* Alert message */
.message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}
.success{
    color: rgb(4, 188, 4);
}
.danger{
    color: red;
    position: absolute;
}



@media screen and ( max-width: 850px){
    .full__name{
        flex-direction: column;
        /* justify-content: flex-start; */
        justify-content: center;
        align-items: center;
    }
    .full__name__div{
        margin-top: 10px;
    }

    .address{
        flex-direction: column;
        /* justify-content: flex-start; */
        justify-content: center;
        align-items: center;
    }
    .address__div{
        margin-top: 10px;
    }

    .email__address{
        flex-direction: column;
        /* justify-content: flex-start; */
        justify-content: center;
        align-items: center;
    }
    .email__address__div{
        margin-top: 10px;
    }

    .phone__number{
        flex-direction: column;
        /* justify-content: flex-start; */
        justify-content: center;
        align-items: center;
    }
    .phone__number__div{
        margin-top: 10px;
    }

    .gender{
        flex-direction: column;
        /* justify-content: flex-start; */
        justify-content: center;
        align-items: center;
    }
    .gender__div{
        margin-top: 10px;
        width: 245px;
    }

    .card__type{
        flex-direction: column;
        /* justify-content: flex-start; */
        justify-content: center;
        align-items: center;
    }
    .type__card__div{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
    }

    .file{
        display: flex;
        justify-content: center;
        margin-top: 20px;

        flex-direction: column;
        align-items: center;
    }
    .file p{
        font-size: 18px;
        font-weight: 500;
    }
    .file__div{
        width: 300px;
        /* display: flex; */
        /* flex-direction: column; */
        padding: auto 0; 
        text-align: center;       
    }
    .file__div input{
        width: 200px;
    }
    


    

} 

@media screen and ( max-width: 550px){
    .full__name__div, .city__street{
        flex-direction: column;
    }
    
    .first__name input, 
    .Last__name input, 
    .street__address input, 
    .city__street input, 
    .state input, 
    .country input, 
    .email__address__div input, 
    .phone__number__div input{
        width: 300px;
    }
    form label{
        font-size: 13px;
    }

    .submitcta{
        padding: 10px 10px;
        
    }
}

@media screen and ( max-width: 550px){
    .submitcta{
        font-size: 13px;
        
    }
}

